{% extends '_base.html' %}
{% load static %}
{% block extrastyle %}
  <style>
    .titre-para{
        color: #0057FF;
    }
    .text-para{
        color: #1A1A1A;
    }
  </style>
{% endblock extrastyle %}


{% block content %}
<section>
    <div class="text-center mt-5">
        <h2 class="titre-para">CONDITIONS GÉNÉRALES DE VENTE</h2>
    </div>
    <div class="container mt-5">
        <div class="section_1">
            <p class="text-para">Ces conditions générales de vente définissent les droits et obligations
                d’AFRICARELAIS, éditrice de la livraison de Colis. La souscription à des
                demandes de livraison se fait uniquement via le site [www.africarelais.sn] et
                sur nos réseaux sociaux.
            </p>
        </div>
        <div class="section_2">
            <h4 class="titre-para">1. CHAMP D’APPLICATION</h4>
            <p class="text-para">Ces conditions générales de vente s’appliquent à tous les produits livrés par
                AFRICARELAIS sur demande du client. Ces conditions sont applicables entre
                AFRICARELAIS   et   le   client   par   la   conclusion   de   ce   présent   contrat.
                AFRICARELAIS reste libre de modifier sans préavis les conditions générales
                de vente du site. Elles s’appliquent dès que les conditions générales de
                vente sont acceptées au moment du paiement. Le client déclare être en
                capacité de conclure ce présent contrat en sa personne ou faisant la
                représentation d’une personne physique ou morale. Et affirme avoir pris
                connaissance de l’ensemble des conditions générales de vente. Par la
                souscription à une ou plusieurs des offres proposées sur le site, il est en
                mesure de déclarer d’avoir eu en sa possession toutes les informations
                nécessaires pour autoriser la livraison. 
                La conclusion de ce contrat est soumise à l’application de la législation
                sénégalaise sur les transactions électroniques consacrées par la loi n° 2008-
                08 du 25 janvier 2008.
            </p>
        </div>
        <div class="section_3">
            <h4 class="titre-para">2. OBJET </h4>
            <p>L’objet de ces conditions générales de vente est la conclusion d’un contrat
                de livraison entre AFRICARELAIS et le client pour l’envoi de colis à partir du
                site internet [www.africarelais.sn] et nos réseaux sociaux. Le contrat entre le
                commissionnaire  de transport et son client sera toujours régi par les
                Conditions Générales de Vente en vigueur au jour de la commande du Client
                même en cas de modification ultérieurement.
                AFRICARELAIS s’engage à acheminer les colis dès leur prise en charge
                jusqu’à la destination convenue avec le client.
            </p>
        </div>
        <div class="section_4">
            <h4 class="titre-para">3. CONDITIONS D’ADMISSION DU COLIS</h4>
            <p class="text-para">Les étapes de la commande ainsi que la conclusion du contrat : 
                Le client dans un premier temps prendra connaissance de l’ensemble des
                offres présentées sur le site internet [www.africarelais.sn] ainsi que leurs
                caractéristiques et options de livraison possibles. 
                Ensuite il fournira toutes les informations relatives à la description du colis
                c’est à dire les coordonnées exactes du destinataire, expéditeur, le poids du
                colis, le point relais d’arrivée, la dimension du colis. Il devra aussi s’engager
                à respecter les conditions d’admission du colis. 
                Par cette connaissance, le client fera le choix de l’offre à laquelle il souscrit. 
                Les colis seront livrés à l’adresse indiquée par le client. 
                Il a l’obligation de mettre en place toutes les conditions nécessaires pour la
                mise en œuvre de la livraison. <br>
                Les dimensions maximums de colis à respecter sont les suivantes : <br>
                - Poids (emballage et contenu compris) : Les colis remis n’excéderont pas 10
                kg. <br>
                - Dimensions maximales : le développé (hauteur + longueur + largeur) du
                colis ne doit pas excéder 90 cm et la plus grande longueur ne doit pas
                excéder   80cm.<br>
                Le commissionnaire se réserve le droit de rectifier toute erreur de poids sur
                la base des indications de matériels de pesage régulièrement contrôlés. En
                cas d’écart, la différence de tarif sera réclamée au Client.
                Enfin le client disposera d’une information de suivi de colis via le site de la
                prise en charge de son colis à la livraison. 
            </p>
        </div>
        <div class="section_6">
            <h4 class="titre-para">4. PRIX </h4>
            <p class="text-para">Les prix sont indiqués dans la description des gammes ou formats de
                livraison en Franc CFA et en Hors taxe. Au moment du paiement de la
                livraison, les prix sont présentés en Franc CFA Hors taxe également et la
                livraison au niveau de nos points de relais est payante. 
                Selon la nature du colis les prix peuvent varier mais restent néanmoins
                indiqués sur le site et les autres plateformes selon la catégorie de livraison
                choisie pour l’effectivité et la célérité dans la livraison. 
                La société AFRICARELAIS se réserve le droit de faire évoluer les prix à tout
                moment et sans préavis. [{{type}} Annotation]
                Sur tout colis livré en dehors du Sénégal, des frais de douanes peuvent être
                appliquer lors de l’expédition de la commande. 
                Les frais de connexion permettant l’accessibilité du site et aux produits ainsi
                que les frais d’acheminement de toute commande sont à la charge du client.
                Toute commande de livraison entraine obligatoirement le paiement total de
                façon immédiat sauf le cas où le client a souscrit à un abonnement
                permettant un paiement à la livraison du colis dans les conditions suivantes :
                Le client peut utiliser plusieurs modalités de paiement au choix en cas de
                paiement au Sénégal : <br>
                - Espèce <br>
                - Chèque <br>
                - Mobile money <br>
                - Virement <br>
                - Carte bancaire  <br>
                Pour tout achat à l’international, il est possible de payer les prestations de
                service selon les modalités suivantes : <br>
                - Par Chèque <br>
                - Par Virements internationaux <br>
                - Carte Bancaire <br>
            </p>
        </div>
        <div class="section_7">
            <h4 class="titre-para">5. DISPONIBILITE DES OFFRES DE LIVRAISON</h4>
            <p class="text-para">Les prestations de service seront disponibles à tout moment sur le site et sur
                les autres plateformes. 
                Les tarifs : les catégories de livraison sont de trois ordres
                -La livraison dans les zones suivant la distance
                -La souscription aux abonnements
                -La souscription à plus de 30 livraisons
            </p>
        </div>
        <div class="section_8">
            <h4 class="titre-para">6. RESTRICTIONS A LA PRISE EN CHARGE </h4>
            <p class="text-para">Il est interdit au client de confier à AFRICARELAIS la livraison de produits ou
                toutes choses illicites ou prohibées, des marchandises susceptibles de nuire
                aux employés et équipements de AFRICARELAIS.
            </p>
        </div>
        <div class="section_8">
            <h4 class="titre-para">7. MODALITES DE LIVRAISON </h4>
            <p class="text-para">La livraison s’effectue au niveau de nos points de relais ou à l’adresse
                indiquée par le client au moment de la commande incluant le délai de
                livraison. 
                Le délai de livraison n’inclut pas le délai de préparation de la commande. 
                Le contact de la société sera disponible pour effectuer un suivi de la
                commande.
            </p>
        </div>
        <div class="section_8">
            <h4 class="titre-para">8.CLAUSE DE RESERVE DE PROPRIETE </h4>
            <p class="text-para"> 
                Le client reste propriétaire du colis, AFRICARELAIS n’effectue que la livraison
                au point indiqué par ce dernier. 
            </p>
        </div>
        <div class="section_8">
            <h4 class="titre-para">9.GARANTIES ET RECLAMATIONS </h4>
            <p class="text-para">En cas de réclamation, le consommateur peut contacter la société par : 
                Téléphone : [...]
                Adresse mail : [...] 
            </p>
        </div>
        <div class="section_8">
            <h4 class="titre-para">10.FORCE MAJEUR </h4>
            <p class="text-para">En cas de force majeur, les obligations d’AFRICARELAIS dans le cadre du
                contrat peuvent être suspendues. L’évènement d’une force majeur sera
                informé au client.  
            </p>
        </div>
        <div class="section_8">
            <h4 class="titre-para">11. MODIFICATION ET NULLITE DU CONTRAT </h4>
            <p class="text-para">La société se réserve le droit de modifier le contrat après accord conclu
                entre les parties. La suppression de l’une des dispositions dans le présent
                contrat n’annule pas la totalité des éléments du contrat. 
            </p>
        </div>
        <div class="section_8">
            <h4 class="titre-para">12. RETRACTATION  </h4>
            <p class="text-para">Le Décret n° 2008-718 du 30 juin 2008 relatif au commerce électronique pris
                pour l’application de la loi n° 2008 -08 du 25 janvier 2008 sur les
                transactions électroniques dispose en son Article 15 que : <strong> « L’exercice du
                droit de rétractation suppose que le consommateur ait la possibilité
                d’essayer l’objet commandé ou d’en faire usage. » </strong> <br>
                En   l’espèce,   AFRICARELAIS   ne   commercialise   pas   les   produits   ou
                marchandises livrés, ainsi le droit de rétractation applicable aux contrats
                conclus à distance n'est pas applicable aux prestations de services de
                transport de biens.
                En effet selon l’article19 du même Décret il y’a des produits et services qui
                ne sont pas soumis à un droit de rétractation.<br>
                En l’espèce, la rétractation n’est possible que lorsque le colis n’a pas encore
                quitté le point de collecte d’AFRICARELAIS pour la préparation à la livraison
                des colis vers leur destination finale. 
            </p>
        </div>
        <div class="section_8">
            <h4 class="titre-para">13. REGLEMENTS DES DIFFERENDS - DROIT APPLICABLE  </h4>
            <p class="text-para">En cas de litige né de l’interprétation ou de l’exécution du présent contrat,
                les parties tenteront de trouver un accord à l’amiable dans un délai de trente
                (30) jours à compter de la réception de la notification par l’une des parties
                de la survenance du litige faite par l’autre.
                En cas de défaut d’accord dans le délai de tentative de règlement amiable ci-
                dessus, chacune des parties pourra saisir la juridiction compétente.
                Les présentes conditions générales de vente sont soumises au droit
                sénégalais 
            </p>
        </div>
    </div>
</section>
{% endblock content %}
    