{% extends "_base.html" %}
{% load static %}
{% block extrastyle %}
  <style>
    .titre-para{
        color: #0057FF;
    }
    .text-para{
        color: #1A1A1A;
    }
  </style>
{% endblock extrastyle %}

{% block content %}
    <section>
        <div class="text-center mt-5">
            <h2 class="titre-para">CONTACTEZ-NOUS</h2>
        </div>
        <div class="container mt-5">
            <div class="section_1">
                <h4 class="titre-para">NOUS CONTACTER</h4>
                <P class="text-para">
                    Vous êtes un professionnel du e-commerce ou de la vente à distance, ou encore
                    un particulier et vous souhaitez des renseignements ou des informations sur la
                    livraison de vos commandes et souhaitez obtenir des informations sur nos 
                    offres ?
                    Vous souhaitez offrir à vos clients le choix de la livraison à domicile avec Africa
                    –relais dans Dakar, n’attendez plus ! Consultez nos offres sur les pages 
                    dédiées. 
                </P>
            </div>
        </div>
    </section>
{% endblock content %}
    