{% extends "_base.html" %}
{% load static %}
{% block extrastyle %}
  <style>
    .titre-para{
        color: #0057FF;
    }
    .text-para{
        color: #1A1A1A;
    }
  </style>
{% endblock extrastyle %}


{% block content %}
    <section>
        <div class="text-center mt-5">
            <h2 class="titre-para">MENTIONS LÉGALES DU SITE</h2>
        </div>
        <div class="container mt-5">
            <div class="section_1">
                <h4 class="titre-para">IDENTIFICATION DE LA SOCIETE</h4>
                <p class="text-para">En   application   de   la   Loi   n°   2008-12   du   25   janvier   2008   portant   sur   la
                    Protection des données à caractère personnel, les différentes identités des
                    personnes intervenant sur le site : <br>
                    L’éditeur   de   ce   présent   site   www.africarelais.sn   est  une   entreprise
                    individuelle,   dont   le   siège   social   est   situé   à   POINT   E   x   RUE   DE   FATICK
                    enregistré   au   registre   du   commerce   et  des   sociétés   sous   le   numéro   SN
                    DKR 2020 A 29819
                    Téléphone : ....................., Mail ...........................
                    La directrice de publication est Khadija DIALLO (exemple). <br>
                    Contact : ...................................... <br>
                    Le   site   www.africarelais.sn   est   hébergé   par   la   société ............domiciliée
                    ............................ Téléphone : .......................................
                </p>
            </div>
            <div class="section_2">
                <h4 class="titre-para">OBJET</h4>
                <p class="text-para">Les mentions légales relevant des dispositions de la Loi n° 2008-12 du 25
                    janvier 2008 portant sur la Protection des données à caractère personnel
                    ont pour but d’établir la confiance dans l’économie numérique, elles sont
                    soumises   à   la   connaissance   des   utilisateurs   et   des   visiteurs   du   site
                    www.africarelais.sn
                    Est utilisateur toute personne qui se connecte sur une page du Site ou qui
                    navigue sur le Site
                </p>
            </div>
            <div class="section_3">
                <h4 class="titre-para">LIMITE D’UTILISATION</h4>
                <p>Tout   utilisateur   peut   accéder   au   site   internet   en   permanence   sans
                    interruption sauf en cas de maintenance ou en cas de force majeur. <br>
                    En cas d’inaccessibilité du site internet, la société AFRICARELAIS fera tout
                    possible pour rétablir l’accès. <br> En cas de dommage matériel ou immatériel,
                    la responsabilité du site n’est pas engagée. 
                    Il   est   interdit   de,   vendre,   exploiter,   publier,   copier,   diffuser,   reproduire,
                    représenter ou adapter dans le cadre d'un usage public ou privé et quel
                    que soit le but recherché, les contenus du Site
                </p>
            </div>
            <div class="section_4">
                <h4 class="titre-para">PROPRIETE INTELLECTUELLE</h4>
                <p class="text-para">Le site a fait l’objet d’une déclaration auprès de l’autorité administrative
                    indépendante   dénommée   « Commission   des   Données   Personnelles »
                    (CDP). Elle est le garant du respect de la vie privée dans le traitement des
                    données personnelles. 
                </p>
            </div>
            <div class="section_5">
                <h4 class="titre-para">LOI APPLICABLE ET JURIDICTION COMPETENTE </h4>
                <p class="text-para">Le droit applicable à ce contrat est le droit sénégalais. 
                    Selon   l’alinéa1   de   l’article   8   de   la   loi   2008-08 du   25   janvier   sur   les
                    transactions   électroniques   :   « Le   commerce   électronique   est   l’activité
                    économique par laquelle une personne propose ou assure, à distance et
                    par voie électronique, la fourniture de biens et la prestation de services ».<br>
                    En   cas   de   litige,   sa   résolution   sera   dans   un   premier   temps   soumis   à
                    l’arbitrage. 
                    À   défaut   d’accord   trouvé   à   l’aimable,   les   tribunaux   sénégalais   seront
                    compétents. 
                </p>
            </div>
            <div class="section_6">
                <h4 class="titre-para">RESPONSABILITE D’AFRICARELAIS</h4>
                <p class="text-para">Toute personne physique ou morale exerçant l’activité définie au premier
                    alinéa   de   l’article   8   de   la   présente   loi   est   responsable   de   plein   droit   à
                    l’égard   de   son   cocontractant   de   la   bonne   exécution   des   obligations
                    résultant du contrat, que ces obligations soient à exécuter par elle-même
                    ou par  d’autres  prestataires   de services, sans  préjudice  de  son droit  de
                    recours contre ceux-ci. <br> Toutefois, elle peut s’exonérer de tout ou partie de
                    sa responsabilité en apportant la preuve que l’inexécution ou la mauvaise
                    exécution du contrat est imputable, soit au cocontractant, soit à un cas de
                    force majeure. <br>
                    Le   Prestataire   demeure   responsable   de   plein   droit   à   l'égard   du   Client
                    comme  de tout  tiers, des  dommages  de toute  nature, à l’exception  des
                    dommages indirects, susceptibles de leur être causés tant par lui que par
                    ses préposés, ses sous-traitants éventuels ou toutes personnes auxquelles
                    le Prestataire ferait appel pour l’assister ou exécuter en ses lieux et place
                    une   obligation   résultant   du   Contrat,   dommages   pouvant   survenir,   aussi
                    bien   en   cours   de   réalisation   des   prestations,   qu'après   réalisation   des
                    Prestations   comme   conséquences   directes   du   fait   même   de   ces
                    prestations   ou   du   fonctionnement   et   de   la   conformité   de   la   solution   au
                    Contrat, et à la règlementation relative aux données personnelles et aux
                    données de santé applicable. <br>
                    La   responsabilité   du   Prestataire   est   cependant   limitée   à   un   montant
                    équivalent   à   une   (1)   fois   le   montant   total   HT   du   Contrat.  +++ cette
                    limitation est un exemple de ce qui peut être trouvé dans un
                    contrat +++ <br>
                    Toutefois   et   de   convention   expresse,   la   précédente   limitation   ne
                    s’appliquera pas aux préjudices qui seraient subis par le Client : <br>
                    - en cas de dommages corporels ;<br>
                    - en cas de dol, faute lourde ou faute intentionnelle ;<br>
                    - aux dommages liés à la garantie de jouissance paisible ;<br>
                    - aux   dommages   liés   au   non-respect   des   obligations   du   Prestataire
                    relatives à la protection des données personnelles sur son périmètre
                    d’engagement.<br>
                    Cette   clause   de   responsabilité   n’est   qu’un   exemple   dont   l’objet   est   de
                    démontrer qu’il est nécessaire de distinguer le plafond de responsabilité
                    applicable   aux   prestations   de   celui   applicable   aux   dommages   résultant
                    d’un   non-respect   des   obligations   relatives   à   la   protection   des   données
                    personnelles
                </p>
            </div>
            <div class="section_7">
                <h4 class="titre-para">RESPONSABILITE DE L’UTILISATEUR</h4>
                <p class="text-para">L’utilisateur   s'engage   à  n'envoyer   aucun   message   susceptible   de   porter
                    atteinte   aux   mineurs   ou   de   manière   plus   générale   contraire   à   la   loi.
                    Il   est   seul   responsable   de   l'identité   qu'il   décline   et   du   contenu   des
                    informations qu’il fournit au site pour les besoins de sa commande. <br>
                    Les utilisateurs et visiteurs du Site Internet ne peuvent mettre en place un
                    hyperlien en direction de ce Site sans demander au préalable et de façon
                    explicite l’autorisation d’AFRICARELAIS.  <br>
                    Des cookies peuvent être utilisés à l’occasion de consultation du site pour
                    la collecte des données, réaliser des statistiques à des fins d’amélioration
                    et développement des activités de la société AFRICARELAIS. <br>
                    Les utilisateurs peuvent s’opposer à l’application des cookies pendant la
                    navigation du site par le biais d’un bandeau présenté sur le site.
                </p>
            </div>
            <div class="section_8">
                <h4 class="titre-para">CONTACT</h4>
                <p class="text-para">En   cas   de   contenus   ou   activités   illicites   sur   le   site   internet
                    www.africarelais.sn,  l’utilisateur  peut  contacter  l’éditeur   à l’adresse  mail
                    ................   (Celle   de   l’éditrice)   ou   par   lettre   recommandée   à   l’adresse
                    suivante : nos bureaux à Point E.
                </p>
            </div>
        </div>
    </section>
{% endblock content %}
    