{% extends "_base.html" %}
{% load static %}

{% block extrastyle %}
  <style>
    .titre-para{
        color: #0057FF;
    }
    .text-para{
        color: #1A1A1A;
    }
  </style>
{% endblock extrastyle %}


{% block content %}
    <section>
        <div class="text-center mt-5">
            <h2 class="titre-para">PROTECTION DES DONNEES PERSONNELLES</h2>
        </div>
        <div class="container mt-5">
            <div class="section_8">
                <p class="text-para">Par application de la Loi n° 2008-12 du 25 janvier 2008 portant sur la
                    Protection des données à caractère personnel ; les clients jouissent du droit
                    d’avoir accès, de modifier, de suppression ou de s’opposer à la collecte de
                    leurs données personnelles. Le client déclare avoir accepté les conditions
                    générales de vente pour la réalisation du contrat de vente et de livraison par
                    le biais de la collecte des données. La finalité de ces collectes des données
                    du client est l’Envoi des informations ou des promotions relatives aux
                    produits ou services proposés par AFRICARELAIS sur son site internet. Pour
                    tout arrêt d’envoi de mails, le client a la possibilité de se désinscrire en
                    cliquant sur le lien présent dans les mails envoyés.
                    Avec le développement de l’informatique et de ses applications, le domaine
                    traditionnel de la vie privée s’enrichit chaque jour de nouveaux éléments.
                    Partie intégrante de ces éléments, les données à caractère personnel se
                    révèlent être des ressources très convoitées. Leur traitement doit se
                    dérouler « dans le respect des droits, des libertés fondamentales, de la
                    dignité des personnes physiques ». De ce fait, la législation sur les données à
                    caractère personnel s’avère être un instrument de protection générale à
                    l’égard des droits et libertés fondamentaux de la personne.
                    Le site peut faire l’objet d’usage de cookies à des fins de statistiques mais
                    une marge de refus de ces cookies est laissée au client.
                </p>
            </div>
        </div>
    </section>
{% endblock content %}
