{% extends "_base.html" %}
{% load static %}

{% block extrastyle %}
  <style>
    .titre-para{
        color: #0057FF;
    }
    .text-para{
        color: #1A1A1A;
    }
  </style>
{% endblock extrastyle %}


{% block content %}
    <section>
        <div class="text-center mt-5">
            <h2 class="titre-para">REMBOURSEMENT</h2>
        </div>
        <div class="container mt-5">
            <div class="section_1">
                <p class="text-para text-center">Pour toute demande d'annulation ou de remboursement, veuillez contacter 
                    notre Service Client.
                </p>
            </div>
        </div>
    </section>
{% endblock content %}
    