{% extends "_base.html" %}
{% load static %}

{% block title %}
Authentification
{% endblock title %}

{% block header %}{% endblock header %}
{% block content %}

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">

        <div class="sign_form">
          <h2>Obtenez votre mot de passe</h2>
          <form method="POST">
            {% csrf_token %}

            <div class="form-group">
              <input class="form-control" type="email" name="email" required placeholder="Votre adresse email">
            </div>

            <button class="btn btn-primary w-100 mt-4" type="submit">Réinitialiser le mot de passe</button>

          </form>

        </div>
      </div>

    </div>
  </div>
</section>
{% endblock content %}
{% block footer %}{% endblock footer %}