{% extends "_dash-base.html" %} {% load static %} {% block sidebar %} {% include "staff/_sidebar.html" %} {% endblock sidebar %} {% block pagetitle %}
<div class="pagetitle">
    <h1>Historique de colis</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item active">Historique des livraisons</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->
{% endblock pagetitle %} {% block content %}

<div class="row">
    <div class="col-12">
        <div class="card card-body">
            <h2>Mes coupons</h2>
            <div class="applyCoupon">
                <form class="applyCoupon_form" action="{% url 'dashboard:add-coupon' %}" method="post">
                    {% csrf_token %} {{ form }}
                    <input type="submit" value="verify" />
                </form>
            </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>
                    {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}