{% extends "_dash-base.html" %}
{% load static %}

{% block sidebar %}
{% include "staff/_sidebar.html" %}
{% endblock sidebar %}

{% block pagetitle %}
<div class="pagetitle">
  <h1>Pack</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Accueil</a></li>
      <li class="breadcrumb-item active">Type de livraison</li>
    </ol>
  </nav>
</div><!-- End Page Title -->
{% endblock pagetitle %}


{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card card-body">
      <div class="my-2 float-end">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPack">Ajouter un
          pack</button>
      </div>


      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Prix</th>
              <th scope="col">Détails</th>
            </tr>
          </thead>
          <tbody>

            {% for pack in packs %}

            <tr>
              <td>
                <a href="#" class="text-primary">{{ pack.title }}</a>
              </td>
              <td>
                {{ pack.price }}
              </td>
              <td>
                les details ici
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- New Team Modal -->
<div class="modal fade" id="addPack" tabindex="-1" aria-labelledby="addPackLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPackLabel">Ajouter un nouveau pack</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form class="row g-3 " method="POST">
          {% csrf_token %}

          {% if errors %}
          {{ errors|safe }}
          {% endif %}

          {% for field in form %}
          <div class="col-12">
            {{ field }}
          </div>
          {% endfor%}
          <div class="col-12">
            <button type="submit" class="btn btn-success w-100">Valider</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock content %}