{% extends "_dash-base.html" %}
{% load static %}

{% block sidebar %}
{% include "particular/_sidebar.html" %}
{% endblock sidebar %}

{% block pagetitle %}
<div class="pagetitle">
    <h1>Mes Abonnements</h1>
    <nav>
        <ol class="breadcrumb mt-2">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item active">Abonnements</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->
{% endblock pagetitle %}

{% block content %}
<div class="row">
    <div class="col-12">

        <div class="card card-body">
            <h2 class="card-title text-center">Mes abonnements</h2>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus rem consequuntur soluta, error omnis sint
                consectetur culpa animi ratione amet!
            </p>

            {% if not user.particular_pack %}
            <div class="alert alert-warning" role="alert">
                Pas encore souscrit. <a href="{% url 'page:subscription' %}" class="btn btn-primary">Nos packs</a>
            </div>
            {%  else %}

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nom du pack</th>
                            <th scope="col">Nombre de livraisons restant</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>{{ user.particular_pack.title }}</td>
                            <td>
                                10
                            </td>
                            <td>
                                <a href="{% url 'page:subscription' %}" class="btn btn-primary">Renouveler</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            {% endif %}


        </div>
    </div>
</div>
</div>
{% endblock content %}