{% extends "_dash-base.html" %} {% load static %} {% block sidebar %}
<!-- End Page Title -->{% include "particular/_sidebar.html" %}
<!-- End Page Title -->
{% endblock sidebar %} {% block pagetitle %}
<div class="pagetitle">
  <h1>Mes Abonnements</h1>
  <nav>
    <ol class="breadcrumb mt-2">
      <li class="breadcrumb-item"><a href="/">Accueil</a></li>
      <li class="breadcrumb-item active">Facture</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->
{% endblock pagetitle %} {% block content %}
<div class="row">
  <div class="col-12">
    <div class="card card-body">
      <h2 class="card-title text-center">AfricaRelais</h2>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Type de livraison</th>
              <th scope="col">Montant de l'article</th>
              <th scope="col">Prix de livraison</th>
              <th scope="col">Nombre de livraison</th>
              <th scope="col">Prix total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{user.pack}}</td>
              <td><a href="#" class="text-primary">{{package.price}}</a></td>
              <td>{{bill.amount}}</td>
              <td>{{delivery}}</td>
              <td class="fw-bolder">{{price}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        class="btn btn-light text-wh btn-sm col-lg-3 mx-auto mt-2"
        type="submit"
      >
        <a href="{% url 'dashboard:particular-bill-to-pdf' bill.id %}"
          >Importer la facture</a
        >
      </button>
    </div>
  </div>
</div>
{% endblock content %}
