{% load static %}

<section id="hero" class="hero d-flex align-items-center">
  <div class="container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for carousel in carousels %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="
            {% if carousel.image %}
            {{ carousel.image.url }}
            {% else %}
            {% static 'img/slide-1.png' %}
            {% endif %}
      " class="d-block w-100" alt="{{ carousel.title }}">
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>