<div class="container">
    <h3><strong>Bienvenue</strong></h3>
    <p>
        Nous sommes heureux de vous accueillir dans la communauté d’AfricaRelais.
        AfricaRelais est une plateforme de mise en relation collaborative entre particuliers et/ou entreprises pour la livraison de colis dans la région de Dakar via points relais.
        Nous avons hâte de vous retrouver sur nos différentes plateformes.
        En tant que membre de la communauté, vous pouvez :
        Sur serviceclient@africarelais.com : Poser des questions à nos équipes, faire des réclamations et/ou suggestion sur le service.
        Les suggestions feront l’objet d’une étude par les équipes d’AfricaRelais.
        Nous rejoindre sur :
        Facebook : https://web.facebook.com/AfricaRelais?_rdc=1&_rdr
         Instagram
        Nous contacter via WhatsApp au +221 784283907
        Afin de finaliser votre inscription à notre service, cliquez sur le lien suivant :
        Communauté AfricaRelais. {{ form.cleaned_data.to }}
    </p>
</div>

<div class="container">
    <h3><strong>AfricaRelais</strong></h3>







